@mixin tablet {
	@media screen and (max-width: 768px) {
		@content;
	}
}

body {
	margin: auto;
}

$darkColor: #3a4d39;
$midDarkColor: #4f6f52;
$midLightColor: #739072;
$lightColor: #ece3ce;

.loginContainer {
	margin: auto;
	background-color: $darkColor;
	height: 100vh;
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: center;

	.formContainer {
		background-color: $lightColor;
		height: 75vh;
		width: 30vh;
		padding: 0px 60px;
		border-radius: 10px 0px 0px 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: left;

		.logo {
			color: $midDarkColor;
			font-weight: bold;
			font-size: 65px;
			cursor: default;
			padding-top: 20px;
		}

		.description {
			color: $darkColor;
			margin: 0px;
			padding: 0px 0px 40px 0px;
			border-bottom: 1px solid $darkColor;
		}

		.title {
			padding-top: 30px;
			color: $darkColor;
			font-size: 30px;
			cursor: default;
		}

		form {
			display: flex;
			flex-direction: column;
			gap: 15px;
			padding-bottom: 40px;
			border-bottom: 1px solid $darkColor;

			input {
				padding: 15px;
				border: none;
				border-bottom: 1px solid $midDarkColor;
				border-radius: 10px;

				&::placeholder {
					color: $midDarkColor;
					font-size: 15px;
				}
			}

			button {
				background-color: $midLightColor;
				color: $lightColor;
				font-size: 15px;
				padding: 15px;
				font-weight: bold;
				border: none;
				border-radius: 10px;
				cursor: pointer;
			}
		}
		p {
			color: $darkColor;
			margin: 0px;
		}
	}

	img {
		border-radius: 0px 10px 10px 0px;
		height: 75vh;
		width: 40vh;
		color: $darkColor;
		overflow: auto;
		filter: grayscale(0.7);
		@include tablet {
			display: none;
		}
	}
}
